<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zh.mapper.CollectRecordMapper">
    
    <resultMap type="ZhCollectRecord" id="CollectRecordResult">
        <result property="id"    column="id"    />
        <result property="deviceCode"    column="device_code"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="pointName"    column="point_name"    />
        <result property="factorCount"    column="factor_count"    />
    </resultMap>

    <sql id="selectCollectRecordVo">
        select id, device_code, start_time, end_time, point_name,factor_count from zh_collect_record
    </sql>

    <select id="selectCollectRecordList" parameterType="ZhCollectRecord" resultMap="CollectRecordResult">
        <include refid="selectCollectRecordVo"/>
        <where>  
            <if test="deviceCode != null  and deviceCode != ''"> and device_code like concat('%', #{deviceCode}, '%')</if>
            <if test="startTime != null "> and start_time &gt;= #{startTime}</if>
            <if test="endTime != null "> and end_time &lt;= #{endTime}</if>
            <if test="factorCount != null "> and factor_count = #{factorCount}</if>
            <if test="pointName != null  and pointName != ''"> and point_name like concat('%', #{pointName}, '%')</if>
        </where>
    </select>
    
    <select id="selectCollectRecordById" parameterType="Long" resultMap="CollectRecordResult">
        <include refid="selectCollectRecordVo"/>
        where id = #{id}
    </select>

    <select id="selectCollectRecordByIds" parameterType="String" resultMap="CollectRecordResult">
        <include refid="selectCollectRecordVo"/>
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
        
    <insert id="insertCollectRecord" parameterType="ZhCollectRecord" useGeneratedKeys="true" keyProperty="id">
        insert into zh_collect_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceCode != null  and deviceCode != ''">device_code,</if>
            <if test="startTime != null ">start_time,</if>
            <if test="endTime != null ">end_time,</if>
            <if test="factorCount != null ">factor_count,</if>
            <if test="pointName != null  and pointName != ''">point_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceCode != null  and deviceCode != ''">#{deviceCode},</if>
            <if test="startTime != null ">#{startTime},</if>
            <if test="endTime != null ">#{endTime},</if>
            <if test="factorCount != null ">#{factorCount},</if>
            <if test="pointName != null  and pointName != ''">#{pointName},</if>
         </trim>
    </insert>

    <update id="updateCollectRecord" parameterType="ZhCollectRecord">
        update zh_collect_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceCode != null  and deviceCode != ''">device_code = #{deviceCode},</if>
            <if test="startTime != null ">start_time = #{startTime},</if>
            <if test="endTime != null ">end_time = #{endTime},</if>
            <if test="factorCount != null ">factor_count=#{factorCount},</if>
            <if test="pointName != null  and pointName != ''">point_name = #{pointName},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="closeRecord">
        update zh_collect_record set end_time=now() where end_time is null;
    </update>

    <delete id="deleteCollectRecordById" parameterType="Long">
        delete from zh_collect_record where id = #{id}
    </delete>

    <delete id="deleteCollectRecordByIds" parameterType="String">
        delete from zh_collect_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getMaxId" resultType="java.lang.Long">
        select max(id) id from zh_collect_record
    </select>

    <select id="getRecently" resultMap="CollectRecordResult">
        select * from zh_collect_record where id=(select max(id) from zh_collect_record where end_time is null)
    </select>

</mapper>