<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zh.mapper.ZhColorMapper">
    
    <resultMap type="ZhColor" id="ZhColorResult">
        <result property="id"    column="id"    />
        <result property="colorStr"    column="color_str"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectZhColorVo">
        select id, color_str, create_by, create_time, update_by, update_time from zh_color
    </sql>

    <select id="selectZhColorList" parameterType="ZhColor" resultMap="ZhColorResult">
        <include refid="selectZhColorVo"/>
        <where>  
            <if test="colorStr != null  and colorStr != ''"> and color_str = #{colorStr}</if>
        </where>
    </select>
    
    <select id="selectZhColorById" parameterType="Long" resultMap="ZhColorResult">
        <include refid="selectZhColorVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertZhColor" parameterType="ZhColor" useGeneratedKeys="true" keyProperty="id">
        insert into zh_color
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="colorStr != null  and colorStr != ''">color_str,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="colorStr != null  and colorStr != ''">#{colorStr},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateZhColor" parameterType="ZhColor">
        update zh_color
        <trim prefix="SET" suffixOverrides=",">
            <if test="colorStr != null  and colorStr != ''">color_str = #{colorStr},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZhColorById" parameterType="Long">
        delete from zh_color where id = #{id}
    </delete>

    <delete id="deleteZhColorByIds" parameterType="String">
        delete from zh_color where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>