<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zh.mapper.ZhSimpleColorMapper">
    
    <resultMap type="ZhSimpleColor" id="ZhSimpleColorResult">
        <result property="id"    column="id"    />
        <result property="startValue"    column="start_value"    />
        <result property="endValue"    column="end_value"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectZhSimpleColorVo">
        select id, start_value, end_value, create_by, create_time, update_by, update_time from zh_simple_color
    </sql>

    <select id="selectZhSimpleColorList" parameterType="ZhSimpleColor" resultMap="ZhSimpleColorResult">
        <include refid="selectZhSimpleColorVo"/>
        <where>  
            <if test="startValue != null "> and start_value = #{startValue}</if>
            <if test="endValue != null "> and end_value = #{endValue}</if>
        </where>
    </select>
    
    <select id="selectZhSimpleColorById" parameterType="Long" resultMap="ZhSimpleColorResult">
        <include refid="selectZhSimpleColorVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertZhSimpleColor" parameterType="ZhSimpleColor" useGeneratedKeys="true" keyProperty="id">
        insert into zh_simple_color
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="startValue != null ">start_value,</if>
            <if test="endValue != null ">end_value,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="startValue != null ">#{startValue},</if>
            <if test="endValue != null ">#{endValue},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateZhSimpleColor" parameterType="ZhSimpleColor">
        update zh_simple_color
        <trim prefix="SET" suffixOverrides=",">
            <if test="startValue != null ">start_value = #{startValue},</if>
            <if test="endValue != null ">end_value = #{endValue},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZhSimpleColorById" parameterType="Long">
        delete from zh_simple_color where id = #{id}
    </delete>

    <delete id="deleteZhSimpleColorByIds" parameterType="String">
        delete from zh_simple_color where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>